.adbar {
    position: fixed;
    bottom: 10px;
    width: 100%;
    height: 100px;
    pointer-events: none;
    > .cam-ad{
        // width: 200px;
        // height: 100px;
        background-color: gray;
    } 
  }